body {
    /*background: linear-gradient(#d2f3f7,#f1f7f7);*/
    margin: 0px;
    padding: 0px;
    min-height: 500px;
}

@font-face {
    font-family: kalimati;
    src: url('kalimati.otf');
}

.kalimati {

    font-family: "kalimati";
}
.navbar-brand, .navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: white !important;
}

.navbar-brand, .navbar {
    min-height: 32px !important
}

.navbar-brand {
    float: left;
    height: 32px;
    padding: 15px 15px;
    font-size: 15px;
    line-height: 20px;
    color: white !important;
}

    .navbar-brand > img {
        display: block;
        width: 30px;
        height: 30px;
        float: left;
        margin-top: -5px;
        margin-right: 10px;
    }

.top-nav .navbar {
    background: #236286;
    margin-bottom: 0px;
    min-height: 30px;
    color: white !important;
    border: none !important;
}

.menu-nav {
    position: absolute;
    top: 32px;
    left: 0px;
    width: 100%;
}

    .menu-nav .nav {
        background-color: #BFDBFF;
    }

.nav > li > a {
    position: relative;
    display: block;
    padding: 3px 15px;
}

.tab-pane .sub-menu {
    display: inline-block;
    border: 1px solid #c8d2d1;
    border-radius: 4px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    height: 20px;
    font-size: 10px;
    min-width: 75px;
    background: linear-gradient(#f0f8f8,#a0dee4);
}

    .tab-pane .sub-menu:hover {
        box-shadow: 0px 0px 6px 1px #b3bbbb;
        background: linear-gradient(#a0dee4,#c7ecec,#d9f0f1);
        color: #23527c !important;
    }

.sub-menu a i {
    font-size: 17px;
}

.menu-option-container {
    height: 50px;
    background: linear-gradient(#d2f3f7,#f1f7f7);
    margin-top: 60px;
    border-bottom: 1px solid #b0d0d0;
}

.opend-file-wrapper {
    min-height: 32px;
    border-bottom: 1px solid #b0d0d0;
    background: linear-gradient(#d2f3f7,#f1f7f7);
    font-size: 20px;
    color: #002c52;
    padding: 2px 8px
}

.content-cantainer {
    background-color: white;
}

.content-field {
    height: 226px;
    /*//border-bottom: 1px solid #b0d0d0;*/
    /*//background: linear-gradient(#edf9fa,#f1f7f7);*/
    padding: 10px;
}

.form-label {
    width: auto;
    padding: 0;
    display: block;
    font-weight: 600 !important;
    font-size: 11px;
}

.form-field {
    /*//float: left;*/
    height: 26px;
    border: 1px solid rgb(142, 146, 146);
    opacity: .8;
    padding-left: 8px;
    border-radius: 3px;
    width: 105px;
}

.form-group {
    float: left;
    padding: 0px;
    margin: 3px 5px;
}

.form-horizontal .form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.setting-dropdown {
    min-width: unset;
    width: 111px;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(#f3feff,#dfefef);
}

    .setting-dropdown li a {
        color: #337ab7;
    }

        .setting-dropdown li a:hover {
            color: #045da9;
            text-decoration: none;
            background-color: #bde4df;
        }

.tab-content {
    margin-top: 3px;
}
span#welcome-msg {
    font-size: 59px;
    padding: 40px;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 25%;
    font-weight: 900;
    border: 1px solid rgba(129, 165, 158, 0.3803921568627451);
    border-radius: 55px;
}

.welcome-message {
    color: #333333;
    display: inline-block;
    border: 1px solid #c8d2d1;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    height: 86px;
    min-width: 90px;
    width:49%;
    margin-left:7px;
}
.welcome-message p {
    font-size: 21px;
    font-weight: 700;
}
.display-content {
    background: linear-gradient(#f3feff,#dfefef);
    min-height: 300px;
}
.submit-buttonss{
    margin-bottom: 47px;
    margin-top: 20px;
    margin-left: 45%;
}

/*FlashMessage*/
.flash-message {
    padding: 33px;
    position: absolute;
    background: linear-gradient(#81e4f0,#f1f7f7);
    font-size: 28px;
    z-index: 99;
    top: 40%;
    left: 38%;
    display: none;
    color: green;
}
.login-form{
    margin-top: 101px;
    border: 1px solid #c3bcbc;
    border-radius:  4px;
    box-shadow: 0px 0px 7px #80c4f5;
}
.table>tbody>tr>td{
    padding: 0 5px!important;
    /*border: none;*/
}
label {
    font-weight: 400;
    font-size: 12px;
    color: black;
    margin: 0;
}
section.content-header h1 {
    padding: 0!important;
    margin: -4px 4px 1px 8px;
    font-size: 29px;
}
.panel-body {
    padding: 0px 8px;
}
.select2-container .select2-selection--single {
    height: 36px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px!important;
}
.nepali-date-picker .drop-down-content {

    width: 70px!important;
    /* overflow: hidden; */
}

.nepali-date-picker .drop-down-content .option-wrapper {
    width: 60px!important;
}
.nepali-date-picker .drop-down-content {

    height: 143px;

    /* overflow: hidden; */
}
